#header{
    text-align: center;
}
#inputForm{
    display: inline-block;
    text-align: center;
    border-radius:  0px 0px 15px 15px;
    width: 800px;
}
.helpInput{
    width: 30%;
    margin-top: 10px;
}
#helpSubmit{
    text-align: center;
    
}

#help{
    min-height: 200px;
    background-color: rgb(255, 255, 255,0.5);
    width: 800px;
    margin: auto;
    height: 400px;
    border-radius:  0px 0px 15px 15px;
  }
