#profileDiv{
  display: inline-block;
  text-align: center;
  width: 100%;
  
}
#accountHeader{
  text-align: center;
  color: white;
}
#profileReviewHeader{
  text-align: center;
  color: white;
}

#back{
  background-color: rgb(41, 39, 39);
}

#heading{
  color: white;
  margin-top: 100px;
}

#x1{
  color: white;
  font-weight: bolder;
  font-size: 16px;
}

#razorpayButton{
  width: 10%;
  margin: auto;
}
#razorpayButtontext{
  font-size: x-small;
 
}
#addReviewButton{
  width: 10%;
  margin: auto;

  
}
#sortButton{
  width: 10%;
  float: right;
}